[Desktop Entry]
Name=Ảnh
GenericName=macOS Photos
Comment=Apple macOS Sequoia Photos Manager for Ubuntu Linux
Exec=run.sh --photos
Icon=photos_icon
Terminal=false
Type=Application
Categories=Graphics;Photography;Viewer;
Keywords=photos;pictures;gallery;images;anh;xem anh;
StartupNotify=true
StartupWMClass=macos-photos
