[Desktop Entry]
Name=AirDrop
Name[vi]=AirDrop
GenericName=Apple AirDrop
Comment=Chia sẻ tệp tin không dây tức thì qua AirDrop cho Ubuntu & iPhone
Exec=run.sh --airdrop
Icon=airdrop_icon
Terminal=false
Type=Application
Categories=Network;FileTransfer;Utility;
StartupNotify=true
StartupWMClass=macos-airdrop
Keywords=AirDrop;Apple;File;Share;Transfer;iPhone;iPad;Mac;Bluetooth;WiFi;
